// header style

body{
  background-color: #a69cc1;
}


header {
  margin-top: 0px;
  color: white;
  height:13vh; 
  background-color: #271c46;
  width: 100%;
  border-radius: 10px;
}



header *{
  display: inline;
}


#logoImg {
  width: 64px;
  height: 64px;
  padding: 10px;
  
}

#dataTimeBlock p{
  display: block;
}

 #linkMessageImages img{
  border-radius: 50%;
  border: 3px solid red;
 }

#newMessageCounter{
  color: #271c46;;
  position: relative;
  z-index: 10000;
  right: 65%;
  bottom: 40px;
}


.left, .right {
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    vertical-align: bottom;
}

.right {
  text-align: right;

}
#profileBlock {
  padding: 10px;
}
#dataTimeBlock{
  vertical-align: top;
  text-align: left;
  width: 130px;
}
#dataTimeBlock p time{
  padding-left: 5px;
}
.left>*, .right>*{ display: inline-block; position: relative; }

// header style

// list users in chat style
main{
  width: 100%;
  position: relative;
  padding-top: 1vh;
}
main div{
  position: absolute;
  height: 100px;
}

#listDialogsBlock{
  height: 84vh;
  border-radius: 10px;
  float: left;
  width: 25%;
  background-color: #271c46;
}
#userInterfaceBlock{
  height: 84vh;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding-top:0px; 
  float: left;
  left: 25%;
  background-color: #e5e5fe;
  width: 49%;
  border-radius: 10px;
}




#listUsersInDialog{
  border-radius: 10px;
  height: 84vh;
  float: left;
  left: 75%;
  width: 25%; 
  background-color: #271c46;
}


#listMessagesBlock{
  overflow: auto; 
  width: 100%;
  height: 74%;
  background-color: #e5e5fe;
  border-radius: 10px 10px 0px 0px;
}

#inputMessagesBlock{
  width: 100%;
  height: 90px;
  background-color:#ffffff;
}

#messageDeteilsInformationBlock{
  width: 100%;
  height: 45px;
  background-color: #e5e5fe;
  border-radius: 0px 0px 10px 10px;
}
#messageDeteilsInformationBlock table{
  width: 100%;
  text-align: center;
}
#userInterfaceBlock div{
  position: relative;
  display: inline-block;
}
#inputMessagesBlock form textarea{
  margin-top: 4px;
  margin-left: 2px;
  width: 80%;
  resize: none;
}
#inputMessagesBlock *{
  display: inline;
}
#sendMessageBlock{
  
  float: right;
  top: 15%;
  height: 100%;
  width: 18%;
  padding-right: 4px;
}
#sendMessage{
  vertical-align: bottom;
  margin-bottom:4px;
  width: 100%;
  height: 35px;
  color: #ffffff;
  background-color:#271c46;
  text-align: center;
}
#formatTextButtonBlock{
  width: 100%;
  height: 40%;
  text-align: center;
}
.formatTextButtonClass{
  width: 30%;
  height: 100%;

}
.myMessage,.message{
  margin-top: 15px;
  width: 86%;
  height: auto;
}
.message *{
  padding: 7px;
  margin :0px;
  margin-left: 4px;
}
.messageContentBlock{
  color: #ffffff;
  background-color: #271c46;
  border-radius: 0px 10px 10px 10px ;
}
.myMessage{
  float: right;
  padding: 7px;
  margin :0px;
  margin-left: 4px; 
}
.message *{
  padding: 7px;
  margin :0px;
  margin-left: 4px;
}
.myMessage *{
  padding: 7px;
  margin :0px;
  margin-left: 4px;
  text-align: right;
}
.myMessageContentBlock{
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px 0px 10px 10px;
}

#listDialogsBlock{
  color: #ffffff;
}
#listDialogsBlock div{
  position: relative;
  display: block;
  margin: 10px;
  background-color: #211840;
}

#listDialogsBlock div *{
  display: inline;
  vertical-align: middle;
  margin: 10px;

}

