// header style

body{
  background-color: #1C1B33;
}

header {
  color: white;
  height: 80px; 
  background-color: #271c46;
  width: 100%;
}



header *{
  display: inline;
}


#logoImg {
  width: 64px;
  height: 64px;
  padding: 10px;
  
}

#dataTimeBlock p{
  display: block;
}

 #linkMessageImages img{
  border-radius: 50%;
  border: 3px solid red;
 }

#newMessageCounter{
  color: #271c46;;
  position: relative;
  z-index: 10000;
  right: 65%;
  bottom: 40px;
}


.left, .right {
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    vertical-align: bottom;
}

.right {
  text-align: right;

}
#profileBlock {
  padding: 10px;
}
#dataTimeBlock{
  vertical-align: top;
  text-align: left;
  width: 130px;
}
#dataTimeBlock p time{
  padding-left: 5px;
}
.left>*, .right>*{ display: inline-block; position: relative; }

// header style

// list users in chat style 




